.facciata {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    font-family: 'Montserrat', sans-serif;
    /*applico il font a tutta la sezione*/
}


.facciata h1 {
    font-size: 6vw;
    /*mi adatta la grandezza delle scritte in base alla dimensione dello schermo*/
}

.facciata h1 span {
    color: #088599;
}

.facciata p {
    font-size: 1.2vw;
    /*mi adatta la grandezza delle scritte in base alla dimensione dello schermo*/
    margin: 1% 5%;
    text-align: center;
}

.bottoni {
    display: flex;
    gap: 20px;
    margin-top: 10vh;
}

.bottoni * {
    color: white;
    text-decoration: none;
    background-color: #112142;
    padding: 10px 20px;
    border-radius: 10px;
}

.menu {
    list-style: none;
    position: sticky;
    /*quando la barra del menù tocca il bordo superiore dello schermo non scorre più sopra*/
    top: 5px;
    background-color: #088599;
    display: flex;
    justify-content: space-around;
    /* distribuisce i link e il form su tutta la riga */
    align-items: center;
    /* allinea tutto verticalmente al centro */
    border-radius: 15px;
    padding: 0.5% 0;
    font-family: 'Montserrat', sans-serif;
}

.menu>form {
    display: flex;
    align-items: center;
    padding-left: 0%;
    justify-content: flex-end;
     /* allinea il form a destra */
}

.menu>i {
     justify-content: flex-end;
}

.menu>* {
    color: white;
    text-decoration: none;
    /*toglie le impostazioni di base dei link*/
}